*{
	box-sizing: border-box;
	font-size: 20px;
	margin: 0;
	padding: 0;
}
form{
	background-color: #DDEE66;
	height: 220px;
	width: 550px;
	margin: auto;
	padding-top: 15px;
}
.form-div{
	margin-top: 15px;
	margin-left: 15px;
}
div a{
	font-size: 2.5em;
	text-decoration: none;
	display: inline-block;
}
#div-ver{
	width: 100%;
	text-align: center;
}
.label-form{
	display: inline-block;
	width: 90px;
	text-align: center;
}
.input-form{
	width: 350px;
	margin: 5px 2px;
}
#btn-datos{
	display: inline-block;
	width: 150px;
	margin: auto;
}
a:visited{
	color: #366;
}
a:hover{
	text-decoration: underline;
}
#btn-datos:hover{
	background-color: #888;
	color: #fff;
	border-radius: 8px;
}
#div-boton{
	text-align: center;
}
