*{
	font-size: 20px;
}
h1{
	text-align: center;
	width: 100%;
	font-size: 2em;
}	
table{
	width: 600px;
	margin: auto;
	border: 1px solid black;
	border-collapse: collapse;
	}
td, tr{
	min-width: 100px;
	padding: 5px;
}
td{
	text-align: center;
	}
tr{
	text-align: center;
}
tr:hover{
	background-color: #ddd;
}
#back-div{
	width: 100%;
	margin: auto;
}
#back{
	display: inline-block;
	font-size: 2.5em;
	text-align: center;
	width: 100%;
}
th{
	background-color: #DDEE66;
	font-size: 1.5em;
}
a{
	text-decoration: none;
}
a:visited{
	color: #366;
}
a:hover{
	text-decoration: underline;
}
		
