:root {
  --bg-color: #f78c40;
  --main-color: #292929;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: Oswalt, Verdana;
  text-align: center;
}

.contenido {
  width: 100%;
  background-color: #d9d9d9;
  height: 100px;
  display: flex;

  /* overflow: hidden; */
  position: fixed;
  top: 0;
}

.header_dasboard {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.logo {
  width: 30%;
  height: 100%;
  padding-left: 35px;
}

.header_dasboard a {
  text-decoration: none;
  margin: 0 20px;
  background-color: #f78c40;
  color: #292929;
  padding: 6px;
  border-radius: 3px;
  transition: background-color ease-in 0.15s;
  width: 150px;
  font-weight: 600;
  height: 31px;
  text-align: center;

  display: block;
}

.header_dasboard a:hover {
  background-color: #f69b59;
}

input[type='text'],
input[type='password'] {
  display: block;
  outline: none;
  padding: 10px;
  width: 350px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px auto;
  font-size: 14px;
}

input[type='submit'] {
  width: 350px;
  padding: 10px;
  color: var(--main-color);
  background-color: var(--bg-color);
  margin: 10px 0px 10px 5px;
  border-radius: 3px;
  border: 0;
  font-size: 14px;
  cursor: pointer;
}
input[type='submit']:hover {
  background-color: #ffa361;
}

.main_box {
  width: 40%;
  margin: 150px auto 0 auto;
}

.editDiv {
  background-color: #eee;
  margin: 50px 0;
  padding: 40px 0;
  border-radius: 3px;
}

#formUser {
  height: 150px;
  margin: 30px 0;
}

.titleChange {
  margin: 20px auto;
  text-align: center;
}
