:root {
  --bg-color: #f78c40;
  --main-color: #292929;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/* HEADER */
#head {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  margin: 0 0 60px 0;
}

.logo {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 40px 0 0;
}

.nav__link {
  display: inline-block;
  color: var(--main-color);
  text-decoration: none;
  padding: 8px;
  background-color: var(--bg-color);
  border-radius: 3px;
  width: 150px;
  text-align: center;
  font-weight: 600;
  margin: 0 25px;
}

.nav__link:hover {
  background-color: #ffa361;
  color: var(--main-color);
}

#register_form fieldset:not(:first-of-type) {
  display: none;
}

input:focus {
  border: 2px solid #000;
  background: #f3f3f3;
}

fieldset {
  padding: 20px;
  margin: 50px auto;
  background-color: #eee;
  border-radius: 3px;  
}

legend {
  text-transform: uppercase;
  background-color: orange;
  width: inherit; /* Or auto */
  padding: 0 10px; /* To give a bit of padding on the left and right */
  border-bottom: none;
}

table{
  background-color: #eee;
}