:root {
  --bg-color: #f78c40;
  --main-color: #292929;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/* HEADER */
#head {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  margin: 0 0 60px 0;
}

.logo {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 40px 0 0;
}

.nav__link {
  display: inline-block;
  color: var(--main-color);
  text-decoration: none;
  padding: 8px;
  background-color: var(--bg-color);
  border-radius: 3px;
  width: 150px;
  text-align: center;
  font-weight: 600;
  margin: 0 25px;
}

.nav__link:hover {
  background-color: #ffa361;
  color: var(--main-color);
}

#title {
  margin: 15px auto;
  text-align: center;
}

#register_form fieldset:not(:first-of-type) {
  display: none;
}

input:focus {
  border: 2px solid #000;
  background: #f3f3f3;
}
form{
  align-items: center;
}
fieldset {
  align-content: center;
  padding: 30px;
  margin: 20px auto;
  background-color: #eee;
  border-radius: 3px; 
}
#completar{
  padding: 15px;
  margin: 20px auto;
  background-color: #eee;
  border-radius: 3px;
  text-align: center;
  width: inherit;
}

legend {
  text-transform: uppercase;
  background-color: orange;
  width: inherit; /* Or auto */
  padding: 0 10px; /* To give a bit of padding on the left and right */
  border-bottom: none;
}

table{
  background-color: #eee;
}

#guardarExp{
  margin: 0 10px; 
}
#cerrarExp{
  margin: 0 10px; 
}

/*----step-by-step-------*/

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: black;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400;
    text-align: center;
    color: black;
}

#progressbar #account:before {    
    content: "1";
    text-align: center;
}

#progressbar #personal:before {    
    content: "2";
    text-align: center;
}

#progressbar #payment:before {    
    content: "3";
    text-align: center;
}

#progressbar #confirm:before {    
    content: "4";
    text-align: center;
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: orange;
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: orange;
}

